@import "tailwindcss";

@theme {
  --color-primary: #1e3a8a;        
  --color-secondary: #3b82f6;      
  --color-accent: #60a5fa;         
  --color-info: #0ea5e9;          
  --color-success: #10b981;       
  --color-error: #ef4444;          
  --color-background: #f8fafc;   
  --color-surface: #ffffff;       
  --color-muted: #cbd5e1;         
}